:root{
    --yellow-color: #EED179;
    --wood-color: #B0806A;
    --green-color: #B0BA8D;
    --light-green-color:#D0D3AA;
    --light-yellow-color: #F1E9D8;
}

body{
    background-color: var(--wood-color);
    margin: 0;
    overflow: hidden;
}

.white-background{
    position: absolute;
    width: 80vw;
    height: 50vh;
    background-color: var(--light-yellow-color);
    text-align: center;
    font-size: 30px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list{
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}
/* 
.list-item{
    margin: auto;
    text-align: center;
}

.list-item p{
    margin-top: 0;
} */

.slider{
    position: relative;
    margin: 0 auto;
}

.imgholder img{
    width: 240px;
    height: 200px;
    transition: all .2s;
}

.imgholder img:hover{
    width: 250px;
    height: 210px;
}

a{
    text-decoration: none;
    font-size: 10px;
    color: black;
}

/* 
버튼 추가해서 이미지 좌우로 이동
중앙 이미지는 다른 이미지들보다 아래로
 */